<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>SkinCare Shop</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <figure>
                            <img />
                        </figure>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" th:href="@{/}">Inicio</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" th:href="@{/catalogo/}" data-bs-toggle="dropdown" aria-expanded="false">
                                    Catálogo
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- Se llena con los tipos de productos de Base de datos -->
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Acerca de</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" th:href="@{/producto/}">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" th:href="@{/register/}">Registro</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" th:href="@{/tiposProducto/}">Tipos Productos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <footer th:fragment="footer">
            <p style="text-align: center;">&COPY;Derechos Reservados 2022</p>
        </footer>
    </body>
</html>
