<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="container">
            <h1>Datos de Producto</h1>
            <a th:href="@{/productos/producto/}">Regresar</a>
            <hr />

            <form th:action="@{/producto/guardar}" method="post" th:object="${producto}">
                <input type="hidden" name="ID_PRODUCTO" th:field="*{ID_PRODUCTO}" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <label for="codTipoProducto">Código de Tipo de Producto</label>
                            <select class="form-control" th:field="*{COD_TIPO_PRODUCTO}" id="dropDownBD">
                                <option th:each=" i : ${tiposProductos}" th:value="${i.COD_TIPO_PRODUCTO}" th:text="${i.DESCRIPCION}"></option>
                            </select>
                            <!--<input type="text" class="form-control" name="codTipoProducto" th:field="*{COD_TIPO_PRODUCTO}" maxlength="3"/>-->
                        </div>
                        <div class="col-6">
                            <label for="descripcion">Descripción</label>
                            <textarea name="descripcion" class="form-control" th:field="*{DESCRIPCION}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="detalle">Detalle</label>
                            <textarea name="detalle" class="form-control" th:field="*{DETALLE}" />
                        </div>
                        <div class="col-6">
                            <label for="estado">Estado</label>
                            <select name="estado" class="form-control" th:field="*{ESTADO}">
                                <option value="">Seleccione una opción</option>
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="precio">Precio</label>
                            <input type="number" class="form-control" name="precio" th:field="*{PRECIO}" />
                        </div>
                        <div class="col-6">
                            <label for="existencias">Existencias</label>
                            <input type="number" class="form-control" name="existencias" th:field="*{EXISTENCIAS}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="guardar" class="btn btn-skin">Guardar</button>
                </div>
            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
