<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head class="header">
        <meta charset="ISO-8859-1">
        <title>Registro completado</title>
        <link href="../static.css/succeful.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body >
        <div class ="absolute">
            <h1 style="text-align: center">Ya tienes tu cuenta</h1>
            <h4><a th:href="@{/login}">Inicio de sesion</a></h4>
            <li class="nav-item">
                <p>
                    Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                </p>
            </li>
        </div>
    </body>
</html><