<!DOCTYPE html>
<html>
    <head>
        <title>SkinCare Shop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div th:if="${productos != null and !productos.empty}">
            <table border="1">
                <thead>
                    <tr>
                        <th>ID Producto</th>
                        <th>Cod Tipo Producto</th>
                        <th>Descripción</th>
                        <th>Detalle</th>
                        <th>Estado</th>
                        <th>Precio</th>
                        <th>Existencias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="producto : ${productos}">
                        <td>[[${producto.ID_PRODUCTO}]]</td>
                        <td>[[${producto.COD_TIPO_PRODUCTO}]]</td>
                        <td>[[${producto.DESCRIPCION}]]</td>
                        <td>[[${producto.DETALLE}]]</td>
                        <td>[[${producto.ESTADO}]]</td>
                        <td>[[${producto.PRECIO}]]</td>
                        <td>[[${producto.EXISTENCIAS}]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${productos == null or productos.empty}">
            No se tienen productos que mostrar!
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
