<!DOCTYPE html>
<html>
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>

                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active c-item">
                        <img src="https://scontent.fsyq3-1.fna.fbcdn.net/v/t39.30808-6/315853372_5754369837917918_611831514198933059_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=9267fe&_nc_ohc=OcsWb94EFEAAX99e76k&_nc_ht=scontent.fsyq3-1.fna&oh=00_AfAIeKlF6hgLrCGqgvfsVOS_AOv0KHo2JYAEM50HSMRXQQ&oe=639F681C"
                             class="d-block w-20 c-img" alt="Slide 1">
                            <div class="carousel-caption top-0 mt-4">
                                <p class="mt-5 fs-3 text-uppercase">SkinCareShopCR</p>
                                <h1 class="display-1 fw-bolder text-capitalize">Bienvenido</h1>
                                <button class="btn btn-primary px-4 py-2 fs-5 mt-5">Productos</button>
                            </div>
                    </div>
                    <div class="carousel-item c-item">
                        <img src="https://scontent.fsyq3-1.fna.fbcdn.net/v/t1.6435-9/49419686_2123506404337631_4371207307715936256_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=e3f864&_nc_ohc=Fzz-VS0geWUAX8vH4Pf&_nc_ht=scontent.fsyq3-1.fna&oh=00_AfAzjsKeVSDykk3HbGJpQsegEmNq3I78HtRG-9zjQmeC4g&oe=63AC7335" 
                             class="d-block w-100 c-img" alt="Slide 2">
                            <div class="carousel-caption top-0 mt-4">
                                <p class="text-uppercase fs-3 mt-5" style="color: white">Temporada Navideña</p>
                                <p class="display-1 fw-bolder text-capitalize" style="color: white">OFERTAS</p>

                            </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
        <footer th:replace="layout/plantilla :: footer"></header>
</body>
</html>
