<!DOCTYPE html>
<html>
    <head>
        <title>SkinCare Shop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <h2>Mantenimiento de Tipos de Productos</h2>
        <a th:href="@{/tipoProducto/nuevo}">Nuevo Tipo Producto</a>
        <div th:if="${tiposProductos != null and !tiposProductos.empty}">
            <table border="1">
                <thead>
                    <tr>
                        <th>Cod Tipo Producto</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <th>Porcentaje de Descuento</th>
                        <th>Eliminar</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tipoProductos : ${tiposProductos}">
                        <td>[[${tipoProductos.COD_TIPO_PRODUCTO}]]</td>
                        <td>[[${tipoProductos.DESCRIPCION}]]</td>
                        <td>[[${tipoProductos.ESTADO}]]</td>
                        <td>[[${tipoProductos.PORC_DESCUENTO}]]</td>
                        <td><a th:href="@{/eliminarTipoProducto/} + ${tipoProductos.COD_TIPO_PRODUCTO}">Eliminar</a></td>
                        <td><a th:href="@{/modificarTipoProducto/} + ${tipoProductos.COD_TIPO_PRODUCTO}">Modificar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${tiposProductos == null or tiposProductos.empty}">
            No se tienen tipos de productos que mostrar!
        </div>
        <footer th:replace="layout/plantilla :: footer"></header>
    </body>
</html>
