<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="container">
            <h1>Datos de Tipo de Producto</h1>
            <a th:href="@{/productos/producto/}">Regresar</a>
            <hr />
            <form th:action="@{/tipoProducto/guardar}" method="post" th:object="${tiposProducto}">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <label for="codTipoProducto">Código de Tipo de Producto</label>
                            <input type="text" name="codTipoProducto" class="form-control" th:field="*{COD_TIPO_PRODUCTO}" maxlength="3"/>  
                        </div>
                        <div class="col-6">
                            <label for="descripcion">Descripción</label>
                            <textarea name="descripcion" class="form-control" th:field="*{DESCRIPCION}" />  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="estado">Estado</label>
                            <select name="estado" class="form-control" th:field="*{ESTADO}">
                                <option value="">Seleccione una opción</option>
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="porcDescuento">Porcentaje Descuento</label>
                            <input type="number" class="form-control" name="porcDescuento" th:field="*{PORC_DESCUENTO}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="guardar" class="btn btn-skin">Guardar</button>
                </div>
            </form>

        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
